# Matplotlib exercices

In this exercise, we are using Pandas and Matplotlib to visualize Company Sales Data. The data is located under the folder `../data/company_sales_data.csv`.

![company_sales_data](../data/company_sales_data.webp)

In [2]:
import pandas as pd
pd.read_csv("../data/company_sales_data.csv")

,month_number,facecream,facewash,toothpaste,bathingsoap,shampoo,moisturizer,total_units,total_profit
0,1,2500,1500,5200,9200,1200,1500,21100,211000
1,2,2630,1200,5100,6100,2100,1200,18330,183300
2,3,2140,1340,4550,9550,3550,1340,22470,224700
3,4,3400,1130,5870,8870,1870,1130,22270,222700
4,5,3600,1740,4560,7760,1560,1740,20960,209600
5,6,2760,1555,4890,7490,1890,1555,20140,201400
6,7,2980,1120,4780,8980,1780,1120,29550,295500
7,8,3700,1400,5860,9960,2860,1400,36140,361400
8,9,3540,1780,6100,8100,2100,1780,23400,234000
9,10,1990,1890,8300,10300,2300,1890,26670,266700
10,11,2340,2100,7300,13300,2400,2100,41280,412800
11,12,2900,1760,7400,14400,1800,1760,30020,300200

## Exercise 1
**Read Total profit of all months and show it using a line plot**

Total profit data provided for each month. Generated line plot must include the following properties:
- X label name = Month Number
- Y label name = Total profit
The line plot graph should look like this.

**Expected output**

<img src="../data/Company_profit_per_month.png" alt="Company_profit_per_month" style="width: 500px;"/>

In [1]:
# Write your code here

## Exercise 2
**Get total profit of all months and show line plot with the following Style properties**
- Line Style dotted and Line-color should be red
- Show legend at the lower right location.
- X label name = Month Number
- Y label name = Sold units number
- Add a circle marker.
- Line marker color as read
- Line width should be 3

**Expected output**

<img src="../data/company_sales_data_of_last_year.png" alt="company_sales_data_of_last_year" style="width: 700px;"/>

In [1]:
# write your code here

## Exercise 3
**Read all product sales data and show it  using a multiline plot**
Display the number of units sold per month for each product using multiline plots. (i.e., Separate Plotline for each product ).
**Expected output**

<img src="../data/sales_data.png" alt="sales_data" style="width: 500px;"/>

In [19]:
# write your code here

## Exercise 4
**Read toothpaste sales data of each month and show it using a scatter plot**
Also, add a grid in the plot. gridline style should “–“.

**Expected output**

<img src="../data/Tooth_paste_Sales_data.png" alt="sales_data" style="width: 700px;"/>

In [19]:
# write your code here

## Exercise 5
**Read face cream and facewash product sales data and show it using the bar chart**
The bar chart should display the number of units sold per month for each product. Add a separate bar for each product in the same chart.

**Expected output**

<img src="../data/Facewash_and_facecream_sales_data.png" alt="sales_data" style="width: 700px;"/>

In [19]:
# write your code here

## Exercise 6
**Read sales data of bathing soap of all months and show it using a bar chart. Save this plot to your hard disk**

**Expected output**

<img src="../data/sales_data_of_bathingsoap.png" alt="sales_data_of_bathingsoap" style="width: 700px;"/>

In [19]:
# write your code here

## Exercise 7
**Read the total profit of each month and show it using the histogram to see the most common profit ranges**

**Expected output**

<img src="../data/Profit_data.png" alt="Profit_data" style="width: 700px;"/>

In [19]:
# write your code here

## Exercise 8
**Calculate total sale data for last year for each product and show it using a Pie chart**

*Note: In Pie chart display Number of units sold per year for each product in percentage.*

**Expected output**

<img src="../data/sales_data_pi_chart.png" alt="sales_data_pi_chart" style="width: 700px;"/>

In [6]:
# write your code here

## Exercise 9
**Read Bathing soap facewash of all months and display it using the Subplot**

**Expected output**

<img src="../data/Sales_data_of_a_facewash.png" alt="Sales_data_of_a_facewash" style="width: 700px;"/>

In [19]:
# write your code here

## Exercise 10
**Read all product sales data and show it using the stack plot**

**Expected output**

<img src="../data/product_sales_stack_plot.png" alt="product_sales_stack_plot" style="width: 700px;"/>

In [19]:
# write your code here