## Loops
### 1. Suppose that l=[1,10,11,16,3,5,16,25,23]

### Exercise 1: 

#### Print the values and indices of the list.

- Output:
```python
0 1
1 10
2 11
3 16
4 3
5 5
6 16
7 25
8 23
```

In [4]:
#I=[1,10,11,16,3,5,16,25,23]
#i=0
#for j in I:
    #print(i,j)
    #i+=1
    

I=[1,10,11,16,3,5,16,25,23] 
for i,j in enumerate(I):
    print(i,j)

0 1
1 10
2 11
3 16
4 3
5 5
6 16
7 25
8 23

### Exercise 2: 

#### Print the odd numbers of the list.

- Output
```python
1
11
3
5
25
23
```

In [18]:
#lst=[1,11,3,5,25,23]
#for a,i in enumerate(lst):
   # if i%2!=0:
      #  print(i)
lst=[1,11,3,5,25,23]
for num in lst:
    if num%2!=0:
        print(num)

1
11
3
5
25
23

### Exersise 3: 

#### Compute the sum of the list.

- Output
```python
s = 110
```

In [23]:
#l=[1,10,11,16,3,5,16,25,23]
#somme=sum(l)
#print(somme)
def sommeliste(l):
    somme=0
    for i in l:
        somme=somme+i
    return somme


l=[1,10,11,16,3,5,16,25,23]  
print(sommeliste(l))

110

### Exercise 4: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

### Exercise 5: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [10]:
#Your answer

### Exercise 6: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [10]:
#Your answer

### Exercise 7: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [10]:
#Your answer

### 2. Suppose that M=[[1,3,5], [9,13,4], [8,4,1], [10,31,15]]
### Exercise 1: 

#### Print the indices and values of the list.

- Output
```python
0 0 1
0 1 3
0 2 5
1 0 9
1 1 13
1 2 4
2 0 8
2 1 4
2 2 1
3 0 10
3 1 31
3 2 15
```

In [17]:
#Your answer

### Exercise 2: 

#### Print the even numbers of the list.

- Output
```python
4
8
4
10
```

In [32]:
list=[4,8,4,10]
for num in list:
    if num%2==0:
        print(num)

4
8
4
10

### Exercise 3: 

#### Compute the sum of odd numbers.

- Output
```python
s = 78
```

26