## Loops
### 1. Suppose that l=[1,10,11,16,3,5,16,25,23]

### Exercise 1: 

#### Print the values and indices of the list.

- Output:
```python
0 1
1 10
2 11
3 16
4 3
5 5
6 16
7 25
8 23
```

In [2]:
#Your answer

### Exercise 2: 

#### Print the odd numbers of the list.

- Output
```python
1
11
3
5
25
23
```

In [4]:
#Your answer

### Exersise 3: 

#### Compute the sum of the list.

- Output
```python
s = 110
```

In [8]:
#Your answer

### Exercise 4: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [10]:
#Your answer

### Exercise 5: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [10]:
#Your answer

### Exercise 6: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [10]:
#Your answer

### Exercise 7: 

#### Calculate the cube of all numbers of the list.

- Output
```python
1
100
121
256
9
25
256
625
529
```

In [10]:
#Your answer

### 2. Suppose that M=[[1,3,5], [9,13,4], [8,4,1], [10,31,15]]
### Exercise 1: 

#### Print the indices and values of the list.

- Output
```python
0 0 1
0 1 3
0 2 5
1 0 9
1 1 13
1 2 4
2 0 8
2 1 4
2 2 1
3 0 10
3 1 31
3 2 15
```

In [17]:
#Your answer

### Exercise 2: 

#### Print the even numbers of the list.

- Output
```python
4
8
4
10
```

In [15]:
#Your answer

### Exercise 3: 

#### Compute the sum of odd numbers.

- Output
```python
s = 78
```

In [20]:
#Your answer